<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/restaurants.css">
</head>
<body>
  <div class="container">
    <form action="/search" method="POST">
      Hakusana: <input type="text" name="name">
      <input type="submit" value="Hae">
    </form>
 
    Ravintoloiden määrä: {{ count }}
    <form action="/review">
      <input type="submit" value="Arvostelut">
    </form>
    <hr>
    {% for restaurant in restaurants %}
    {{ restaurant.name }}
    {% if is_admin %}
    <form action="/delete" method="POST">
      <!-- Flaw no. 2 fix 
      <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
      -->
      <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
      <input type="submit" value="Delete">
    </form>
    <hr>
    {% endif %}
    <hr>
    {% endfor %}
    <a href="/new">Lisää ravintola</a>
    <a href="/logout">Kirjaudu ulos</a>
  </div>
</body>
</html>
